#draggableTree::v-deep {
  // Vars
  min-width: 17rem;

  // Support

  // Module
  & {
    //
  }

  // Facets

  // States
  .nestable {
    position: relative;
  }

  .nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
  }

  .nestable > .nestable-list {
    padding: 0;
  }

  .nestable [draggable="true"] {
    cursor: move;
  }

  .nestable-rtl {
    direction: rtl;
  }

  .nestable-rtl .nestable-list {
    padding: 0 40px 0 0;
  }

  .nestable-rtl .nestable-drag-layer {
    left: auto;
    right: 0;
  }

  .nestable-rtl .nestable-drag-layer > .nestable-list {
    padding: 0;
  }

  .nestable-item,
  .nestable-item-copy {
    margin: 10px 0 0;
  }

  .nestable-item:first-child,
  .nestable-item-copy:first-child {
    margin-top: 0;
  }

  .nestable-item .nestable-list,
  .nestable-item-copy .nestable-list {
    margin-top: 10px;
  }

  .nestable-item {
    position: relative;
  }

  .nestable-item.is-dragging .nestable-list {
    pointer-events: none;
  }

  .nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
  }

  .nestable-handle {
    //display: inline;
    display: flex;
    font-size: 14pt;
  }

  .drag-action-icons {
    margin-left: 0.5rem;
  }

  .drag-action-icons > i {
    margin: 0 0.2rem 0 0.2rem;
    font-size: 16pt;
  }
}
