<template>
  <div id="draggableTree" v-bind="$attrs['div-attrs']">
    <vue-nestable :value="value" @input="$emit('input', $event)" v-bind="$attrs['attrs']" v-on="listeners">
      <template slot-scope="scope">
        <vue-nestable-handle
          v-if="Object.keys($scopedSlots).includes('default') || Object.keys($scopedSlots).length === 0" v-bind="scope">
          <slot v-bind="scope">
            <q-card style="width: 100%;">
              <q-card-section class="nestable-handle q-pa-sm">
                {{ scope.item[$lget($attrs, 'attrs.label_key', 'label')] }}
                <q-space/>

                <div class="drag-action-icons">
                  <q-icon name="add" class="cursor-pointer" @click="add(scope.item)"/>
                  <q-icon name="edit" class="cursor-pointer" @click="edit(scope.item)"/>
                  <q-icon name="delete" class="cursor-pointer" @click="remove(scope.item)"/>
                </div>
              </q-card-section>
            </q-card>
          </slot>
        </vue-nestable-handle>
        <template v-else>

          <slot v-if="Object.keys($scopedSlots).includes('before')" name="before" v-bind="scope"></slot>
          <vue-nestable-handle v-if="Object.keys($scopedSlots).includes('handle')" v-bind="scope">
            <slot name="handle" v-bind="scope"></slot>
          </vue-nestable-handle>
          <slot v-if="Object.keys($scopedSlots).includes('after')" name="after" v-bind="scope"></slot>
        </template>
      </template>
    </vue-nestable>
  </div>
</template>

<script>
  export default {
    name: 'draggableTree',
    inheritAttrs: false,
    props: {
      value: {
        type: Array,
        required: true,
      },
    },
    watch: {
      $attrs: {
        immediate: true,
        deep: true,
        handler(newVal) {
          // attrs defaults
          this.$lset(newVal, 'attrs.keyProp', this.$lget(newVal, 'attrs.keyProp', '_id'));

          // div-attrs defaults
          this.$lset(newVal, 'div-attrs.class', this.$lget(newVal, 'div-attrs.class', 'col-12'));
        }
      },
    },
    computed: {
      listeners() {
        // eslint-disable-next-line no-unused-vars
        const {input, ...listeners} = this.$listeners;
        return listeners;
      }
    },
    methods: {
      add(item) {
        this.$emit('add', item);
      },
      edit(item) {
        this.$emit('edit', item);
      },
      remove(item) {
        this.$emit('remove', item);
      }
    }
  };
</script>

<style scoped lang="scss" src="./_draggableTree.scss">
</style>
