<template>
  <div class="list-view-wrapper">
    <div class="left-menu">
      <div class="list" v-for="(card, idx) in cards" :key="idx">
        <span :style="{borderBottom: `4px solid ${card.color.hex}`, padding: '3px'}">{{ card.name }}</span>
        <div class="q-mb-lg"></div>
        <div v-for="(todo, todoIdx) in card._fastjoin.todos" :key="todoIdx">
          <list-item :board="board" :selectedTodo="selectedTodo" :todo="todo" @selectTodo="selectTodo"></list-item>
        </div>
        <add-todo style="margin-left: 20px;" class="add-todo" :card="card"></add-todo>
      </div>
    </div>
      <transition name="slide">
        <div class="right-main" id="rightMenu">
          <transition name="slide">
        <q-card v-if="Object.keys(selectedTodo).length > 0" class="card">
          <div :style="{color: `${selectedTodo.priority ? (selectedTodo.priority === 'low' ? '#d8b81d' : (selectedTodo.priority === 'medium' ? '#ffa612' : selectedTodo.priority === 'high' ? '#ff692f' : '#9c0000')) : '#525252'}`}" class="priority">{{ selectedTodo.priority ? selectedTodo.priority : 'no' }} priority</div>
          <q-card-section>
            <div class="text-h4 q-mt-lg">{{ selectedTodo.name }}</div>
            <div>{{ selectedTodo.description || 'No description' }}</div>
            <div class="owners">
              <div>Owners:</div>
              <ul v-if="$lget(selectedTodo, '_fastjoin.owners', '')">
                <li v-for="(owner, idx) of selectedTodo._fastjoin.owners" :key="idx">
                  {{ owner.name || owner.email }}
                </li>
              </ul>
              <ul v-else>
                <li>No owners</li>
              </ul>
            </div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <span class="text-h6">Created on </span><span>{{ selectedTodo.createdAt | format }}</span>
            <br/>
            <span class="text-h6">Modified on </span><span>{{ selectedTodo.updatedAt | format }}</span>
          </q-card-section>
        </q-card>
          </transition>
        </div>
      </transition>
  </div>
</template>

<script>

  import {mapActions, mapGetters} from 'vuex';
  import dateFormat from '../../../helpers/dateFormat';
  import addTodo from 'components/cards/forms/addTodo';
  import ListItem from 'components/cards/listView/listItem';

  export default {
    name: 'listView',
    components: {
      ListItem,
      addTodo,
    },
    mixins: {

    },
    props:{
      showMyTickets: {
        type: Boolean
      },
      board: {
        type: Object
      }
    },
    mounted(){
      this.loadCards(this.card_query);
      this.loadTodos();
    },
    data(){
      return {
        selectedTodo: {},
        editTodo: false,
        card_query: {
          query: {
            board: this.$lget(this.$route, 'params.board_id')
          },
          $fastJoinTodos: true,
        },
      };
    },
    filters: {
      format(date){
        return dateFormat(date);
      }
    },
    computed: {
      ...mapGetters('cards', {
        getCards: 'find'
      }),
      cards(){
        if(!this.showMyTickets) {
          return this.$lorderBy(this.getCards(this.card_query).data.map(card => card.clone()), ['order', 'createdAt'], ['asc', 'asc']).map(card => {
            return card;
          });
        } else {
          return this.getCards().data;
        }
      }
    },
    methods: {
      ...mapActions('cards', {
        loadCards: 'find'
      }),
      selectTodo(todo){
        let el = document.getElementById('rightMenu');
        let scrollHeight = window.scrollY;
        el.style.marginTop = `${scrollHeight}px`;
        if(todo.name === this.selectedTodo.name) {
          this.selectedTodo = {};
          return;
        }
        this.selectedTodo = todo;
      },
    }
  };
</script>

<style scoped lang="scss">
  .selected {
    background-color: #dadfea !important;
    transform: scale(1.05) !important;
  }
  .add-todo {
    text-align: center !important;
    background-color: #ebf0f9 !important;

    .add-icon {
      margin: 0 auto;
    }
  }
  .card {
    position: relative !important;

    .priority {
      position: absolute;
      right: 16px;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 500;
      color: red;
      top: 12px;
    }
    .owners {
      div {
        margin-top: 40px;
        font-size: 1.15em;
      }
      li {
        list-style-type: none;
        margin-left: -20px;
        color: #565657;
        font-size: 1em;
        font-weight: 350;
      }
      li:first-child {
        margin-top: -15px;
      }
    }
  }
  .list-view-wrapper {
    width: 100%;
    margin-left: 10px;
    display: flex;

    .left {
      width: 60%;
    }
    .left-menu {
      flex: .9;
    }
    .right-main {
      margin: 40px auto 0 auto;
      .card {
        width: 20vw;
      }
    }

    .list:first-child {
      margin-top: 0 !important;
    }

    .list {
      margin-top: 50px;

      span:first-child {
        font-size: 2.2em;
        font-weight: 390;
      }

      .todo:hover {
        background-color: #eaebf3;
        transform: scale(1.03);
      }

      .todo {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f0f0f0;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.10);
        margin: 8px 0;
        padding: 7px 8px;
        transition: 0.3s all;

        .modify {
          transition: 0.3s all;
        }
        .modify:hover {
          color: #00aaf1;
        }
        .modify:last-child:hover {
          color: red;
          transform: rotate(180deg);
        }

        .left {
          display: flex;

          .copy-icon {
            cursor: pointer;
          }

          div {
            margin-left: 15px;
          }
        }

        .center {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          //width: 33%;

          .user-avatar {
            text-transform: uppercase;
            border-radius: 100%;
            margin-left: -8px;
            text-align: center;
            vertical-align: center;
            padding: 7px 12px;
            background-color: #60b500;
            width: fit-content;
            color: white;
            font-size: .9em;
            border: 2px solid white;
          }
        }
      }
    }
  }

  .slide-enter-active {
    transition: all .3s ease;
  }
  .slide-leave-active {
    transition: all .2s ease-in-out;
  }
  .slide-enter, .slide-leave-to {
    transform: translateX(100px);
    margin-right: -20vw;
    opacity: 0;
  }
</style>
