<template>
  <q-page class="q-pa-sm" id="CardsList">
    <div class="flex-inline justify-between flex q-pr-lg">
      <div v-if="clone_board && layout === 'Card view'" class="card-view-nav">
        <q-input v-model="clone_board.name" @keyup.enter="updateBoardName"
                 borderless
                 class="title text-h3"
                 :style="`width: ${clone_board.name.length}ch`">
        </q-input>
        <transition-group name="slide">
          <span @click="unHideCard(hidden, idx)" :key="idx" v-for="(hidden, idx) in toHide">
            <q-btn round
                   :style="{backgroundColor: hidden.color.hex, color: $isHexDark(hidden.color.hex) ? 'white' : 'black'}"
                   size="sm" icon="open_in_full" class="span"/>
            <q-tooltip>
              Show "{{ hidden.name }}"
            </q-tooltip>
          </span>
        </transition-group>
      </div>
      <div v-else class="show-my-tickets">
        <span>Show my assigned tickets</span>
        <input v-model="showMyTickets" class="apple-switch" type="checkbox">
      </div>
      <q-select class="q-mr-lg q-mb-md q-mt-sm" style="width: 25%" v-model="layout" :options="options" label="Layout">
        <template v-slot:prepend>
          <q-icon size="xs" name="table_rows" @click.stop/>
        </template>
      </q-select>
    </div>

    <div v-if="layout === 'Card view'" style="position: relative; flex: 1;">
      <draggable-tree v-model="clone_cards"
                      @change="handleDrag"
                      v-bind="{attrs: {label_key: 'name', maxDepth: 1}}"
                      style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
        <template slot-scope="{ item: card, index }">
          <q-card v-if="card._id === 0"
                  class="card-card bg-grey-5 cursor-pointer"
                  @click.stop="newCard"
                  @touchstart.stop="newCard">
            <q-card-section class="flex flex-center" style="height: 100%; width: 100%">
              <q-icon name="add"/>
              New Card
            </q-card-section>

            <q-dialog v-model="card_form" position="right">
              <q-layout view="Lhh lpR fff" container class="bg-white" style="width: 350px">
                <q-header class="bg-primary">
                  <q-toolbar>
                    <q-toolbar-title>{{ form_data['_id'] ? 'Edit' : 'New' }} Card</q-toolbar-title>
                    <q-btn flat v-close-popup round dense icon="close"/>
                  </q-toolbar>
                </q-header>

                <q-page-container>
                  <q-page class="q-pa-sm">
                    <form-generator v-model="form_data" :fields="fields"></form-generator>
                  </q-page>
                </q-page-container>

                <q-footer class="bg-white text-black" bordered>
                  <q-toolbar>
                    <q-btn color="primary" @click="saveCard">Save</q-btn>
                  </q-toolbar>
                </q-footer>
              </q-layout>
            </q-dialog>
          </q-card>

          <q-card v-else class="card-card">
            <q-toolbar :style="`background-color: ${$lget(card, 'color.hexa', 'grey')}; color: ${textColor(card)};`">
              <q-toolbar-title @dblclick="handlePopupShow(`popup${index}`)">
                {{ card.name }}
                <q-popup-edit :ref="`popup${index}`"
                              v-model="card.name"
                              :validate="val => val.length > 0"
                              @save="editName(card, ...arguments)"
                              @before-show="handlePopup(`popup${index}`)"
                              @hide="popup_show = false">
                  <template v-slot="{ initialValue, value, emitValue, validate, set, cancel }">
                    <q-input
                      autofocus
                      dense
                      :value="card.name"
                      hint="Card Name"
                      :rules="[val => validate(value) || 'More than 0 chars required']"
                      @input="emitValue">
                      <template v-slot:after>
                        <q-btn flat dense color="negative" icon="cancel" @click.stop="cancel"/>
                        <q-btn flat dense color="positive" icon="check_circle" @click.stop="set"
                               :disable="validate(value) === false || initialValue === value"/>
                      </template>
                    </q-input>
                  </template>
                </q-popup-edit>
              </q-toolbar-title>

              <action-fab :item="card" @hide="hideCard" @edit="editCard" @delete="deleteCard"></action-fab>
            </q-toolbar>

            <q-card-section style="max-height: 78vh;" class="scroll q-pa-sm">
              <draggable-tree v-model="card._fastjoin.todos"
                              @change="handleDragTodo(card, ...arguments)"
                              class="todo-drag"
                              v-bind="{attrs: {label_key: 'name', maxDepth: 1, group: 'todo'}}">
                <template slot-scope="{ item: todo }">
                  <todo-card :todo="todo" :card="card" :board="clone_board"></todo-card>
                </template>
              </draggable-tree>

              <add-todo :card="card" style="position: sticky; bottom: 0;"></add-todo>
            </q-card-section>
          </q-card>
        </template>
      </draggable-tree>
    </div>

    <div v-else>
      <ListView :board="board" :showMyTickets="showMyTickets"></ListView>
    </div>
  </q-page>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex';
  import {models} from 'feathers-vuex';

  import DraggableTree from '../../common/atoms/draggableTree/draggableTree';
  import actionFab from './actionFab';
  import addTodo from '../forms/addTodo';
  import todoCard from './todoCard';
  import ListView from 'components/cards/listView/listView';

  export default {
    name: 'CardsList',
    components: {
      ListView,
      DraggableTree,
      actionFab,
      addTodo,
      todoCard,
    },
    props: {
      board: {
        type: Object
      }
    },
    data() {
      return {
        toHide: [],
        tempToHide: [],
        showMyTickets: false,
        popup_show: false,
        options: ['Card view', 'List view'],
        layout: 'Card view',
        clone_board: null,
        card_query: {
          query: {
            board: this.$lget(this.$route, 'params.board_id')
          },
          $fastJoinTodos: true,
          // $populateParams: {name: 'withTodos'}
        },
        card_form: false,
        clone_cards: [],
        form_data: {},
        cards_loaded: false,
        fields: [
          {
            fieldType: 'TextInput',
            path: 'name',
            attrs: {
              label: 'name',
              filled: true,
              clearable: true,
              'clear-icon': 'close',
              required: true,
            },
            'div-attrs': {
              class: 'col-12'
            }
          },
          {
            fieldType: 'NumberInput',
            path: 'order',
            attrs: {
              min: 1,
              center: true,
            },
            'div-attrs': {
              class: 'col-12'
            }
          },
          {
            fieldType: 'ColorPicker',
            path: 'color',
            attrs: {},
          },
        ]
      };
    },
    mounted() {
      this.loadCards(this.card_query);
    },
    watch: {
      board: {
        deep: true,
        immediate: true,
        // eslint-disable-next-line no-unused-vars
        handler(newVal, oldVal) {
          if (JSON.stringify(newVal) !== JSON.stringify(oldVal) && !this.$route.params.board_id) {
            this.$router.push({name: this.$route.name, params: {...this.$route.params, board_id: newVal._id}});
          }
        }
      },
      $route: {
        deep: true,
        immediate: true,
        // eslint-disable-next-line no-unused-vars
        async handler(to, from) {
          let board_id = this.$lget(to, 'params.board_id');
          if (board_id && !this.clone_board) {
            let board = await this.getBoard(board_id);
            console.log('getBoard res:', this.clone_board);
            if (!board) {
              try {
                board = await this.getBoardDb([board_id, {$fastJoinShared: true}]);
              } catch (e) {
                console.error('getBoardDb Error:', e);
              }
            }
            this.clone_board = board.clone();
            this.$lset(this.card_query, 'query.board', board_id);
            // console.log('clone_board', this.clone_board);
          }
        }
      },
      cards: {
        deep: true,
        immediate: true,
        // eslint-disable-next-line no-unused-vars
        handler(newVal, oldVal) {
          if (newVal && JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
            this.clone_cards = newVal;
          }
        }
      },
      clone_cards: {
        deep: true,
        immediate: true,
        // eslint-disable-next-line no-unused-vars
        handler(newVal, oldVal) {
          let new_btn_index = this.clone_cards.findIndex((item) => {
            return item._id === 0;
          });
          if (new_btn_index === -1) {
            this.clone_cards = newVal.concat([{_id: 0}]);
          }
        }
      },
      todoPatchPending(val) {
        this.$isLoading(val);
      },
      toHide: {
        immediate: true,
        handler(newVal) {
          console.log('watch toHide:', newVal);
          if (JSON.stringify(newVal) !== JSON.stringify(this.tempToHide)) {
            this.toHide = this.$lorderBy(newVal, ['order', 'createdAt'], ['asc', 'asc']);

            // newVal.forEach(card => {
            //   // eslint-disable-next-line no-unused-vars
            //   let elements = document.getElementsByClassName(`nestable-item-${card._id}`);
            //   for (let el of elements) {
            //     el.style.display = 'none';
            //   }
            // });
          }
          this.tempToHide = Array.from(newVal);
        }
      }
    },
    computed: {
      ...mapGetters('cards', {
        findCards: 'find'
      }),
      ...mapGetters('boards', {
        getBoard: 'get'
      }),
      ...mapState('todos', {
        todoPatchPending: 'isPatchPending',
      }),
      cards() {
        return this.$lorderBy(this.findCards(this.card_query).data.map(card => card.clone()), ['order', 'createdAt'], ['asc', 'asc']).map(card => {
          return Object.assign(card, {
            _fastjoin: {
              ...card._fastjoin,
              todos: this.$lorderBy(this.$lget(card, '_fastjoin.todos', []), [
                todo => {
                  switch (this.$lget(todo, 'priority')) {
                    case 'critical': {
                      return 0;
                    }
                    case 'high': {
                      return 1;
                    }
                    case 'medium': {
                      return 2;
                    }
                    case 'low': {
                      return 4;
                    }
                    default: {
                      return 3;
                    }
                  }
                },
                'order',
                'createdAt'
              ], ['asc', 'asc', 'asc'])
            }
          });
        });
      },
    },
    methods: {
      ...mapActions('cards', {
        loadCards: 'find',
        removeCard: 'remove'
      }),
      ...mapActions('boards', {
        getBoardDb: 'get'
      }),
      ...mapActions('todos', {
        patchTodo: 'patch',
      }),
      unHideCard(card, idx) {
        this.toHide.splice(idx, 1);
        let elements = document.getElementsByClassName(`nestable-item-${card._id}`);
        for (let el of elements) {
          el.style.display = 'block';
        }
      },
      hideCard(card) {
        this.toHide.push(card);
        let elements = document.getElementsByClassName(`nestable-item-${card._id}`);
        for (let el of elements) {
          el.style.display = 'none';
        }
      },
      handlePopup(ref) {
        if (!this.popup_show) this.$refs[ref].hide();
        // console.log('handlePopup', ref, this.popup_show);
      },
      handlePopupShow(ref) {
        this.popup_show = true;
        this.$refs[ref].show();
        // console.log('handlePopupShow', ref, this.popup_show);
      },
      textColor(item) {
        return this.$isHexDark(this.$lget(item, 'color.hexa', 'grey')) ? 'white' : 'black';
      },
      // // eslint-disable-next-line no-unused-vars
      // beforeMove ({ dragItem, pathFrom, pathTo }) {
      //   // Item 4 can not be nested more than one level
      //   if (dragItem._id === 0) {
      //     return false;
      //   }
      //   // All other items can be
      //   return true;
      // },
      async updateBoardName() {
        let board = await this.getBoard(this.clone_board._id);
        console.log('updateBoardName', board.name, this.clone_board.name);
        if (board.name !== this.clone_board.name) {
          this.clone_board.patch()
            .then(result => {
              this.$q.notify({
                type: 'positive',
                message: `Successfully Saved "${result.name}"`,
                timeout: 10000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            })
            .catch(error => {
              this.$q.notify({
                type: 'negative',
                message: error.message,
                timeout: 10000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            });
        }
      },
      async handleDragTodo(card, value, options) {
        console.log('handleDragTodo', card, value, options);
        let pathTo = this.$lget(options, 'pathTo', []);
        if (pathTo && pathTo.length >= 1) {
          let card_ids = [card._id];
          await Promise.all(options.items.map((todo, index) => {
            card_ids.push(todo.card);
            return this.patchTodo([todo._id, {card: card._id, order: index}]);
          }));

          card_ids = [...new Set(card_ids)];

          await this.loadCards({
            query: {
              _id: card_ids
            },
            $fastJoinTodos: true
          });
        }
      },
      handleDrag(value, options) {
        console.log('handleDrag value', value);
        console.log('handleDrag options', options);
        this.$isLoading(true);
        let new_btn_index = this.clone_cards.findIndex((item) => {
          return item._id === 0;
        });
        this.clone_cards.splice(new_btn_index, 1);
        Promise.all(this.clone_cards.map((card, index) => {
          if (card.order !== index + 1) {
            card.order = index + 1;
            console.log('handleDrag card:', typeof card);
            let {Cards} = models.api;
            if (!(card instanceof Cards)) {
              let f_card = new models.api.Cards().clone();
              card = this.$lmergeWith(f_card, card, (obj_value, src_value) => {
                if (Array.isArray(obj_value)) {
                  return [...src_value];
                }
              });
            }
            return card.patch()
              .then(res => {
                console.log('card res:', res);
              })
              .catch(err => {
                console.log('card err:', err);
              });
          }
        })).then(() => {
          console.log('patch_cards');
          this.loadCards(this.card_query);
          this.$isLoading(false);
          Object.keys(this.$refs).forEach(ref => {
            if (/popup\d/.test(ref) && !this.popup_show) this.$refs[ref].hide();
          }, this);
        });
      },
      newCard() {
        this.form_data = {};
        this.card_form = true;
      },
      editCard(card) {
        this.form_data = card;
        this.card_form = true;
      },
      editName(item, value, initialValue) {
        if (value !== initialValue) {
          item.patch({
            name: value,
          })
            .then(res => {
              this.$q.notify({
                type: 'positive',
                message: `Successfully Saved "${res.name}"`,
                timeout: 10000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            })
            .catch(err => {
              this.$q.notify({
                type: 'negative',
                message: err.message,
                timeout: 30000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            });
        }
      },
      saveCard() {
        let f_card = new models.api.Cards().clone();

        f_card = this.$lmergeWith(f_card, this.form_data, (obj_value, src_value) => {
          if (Array.isArray(obj_value)) {
            return [...src_value];
          }
        });

        f_card.board = this.clone_board._id;

        if ([null, undefined].includes(this.form_data.order)) f_card.order = this.clone_cards.length + 1;

        f_card.save()
          .then(res => {
            if (this.form_data._id) this.card_form = false;
            this.form_data = {};

            this.$q.notify({
              type: 'positive',
              message: `Successfully Saved "${res.name}"`,
              timeout: 10000,
              actions: [
                {
                  icon: 'close', color: 'white', handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          })
          .catch(err => {
            this.$q.notify({
              type: 'negative',
              message: err.message,
              timeout: 30000,
              actions: [
                {
                  icon: 'close', color: 'white', handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          });
      },
      deleteCard(card) {
        this.$q.dialog({
          title: 'Confirm',
          message: `Are you sure you want to remove "${card.name}"?`,
          ok: {
            push: true,
            color: 'negative'
          },
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.removeCard(card._id)
            .then(result => {
              this.$q.notify({
                type: 'positive',
                message: `Successfully removed "${result.name}"`,
                timeout: 10000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            })
            .catch(error => {
              this.$q.notify({
                type: 'negative',
                message: error.message,
                timeout: 30000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            });
        });
      },
    }
  };
</script>

<style scoped lang="scss" src="./_list.scss">

</style>
