<template>
  <q-card style="width: 100%; margin: 5px 2px 5px 2px;"
          :class="todo.priority ? (todo.priority === 'low' ? 'todo-bg-yellow' : (todo.priority === 'medium' ? 'todo-bg-orange' : todo.priority === 'high' ? 'todo-bg-red' : 'todo-bg-darkred')) : 'todo-bg-gray'">
    <q-card-section :class="`flex ${$lget(todo, 'owners', []).length > 0 ? 'q-pb-none' : ''}`"
                    style="align-items: center;">
      <span style="position: absolute; top: 0; left: 5px; font-size: 10pt;">
        <q-icon v-clipboard:copy="todo._id"
                v-clipboard:success="clipboardSuccessHandler"
                v-clipboard:error="clipboardErrorHandler"
                name="far fa-copy"
                size="xs"
                class="hover-copy"
                @touchstart.stop="handleCopyMobile(todo._id)"></q-icon>
      </span>
      <div style="position: absolute; top: 0; right: 0;">
        <q-btn size="sm" flat round icon="edit" @click.stop="handleTodoEdit(todo)"
               @touchstart.stop="handleTodoEdit(todo)"></q-btn>
        <q-btn size="sm" flat round icon="close" @click.stop="deleteTodo(todo)" @touchstart.stop="deleteTodo(todo)"></q-btn>
      </div>
      <span @dblclick="handlePopupShow">
        <span style="font-size: 11pt">{{ todo.name }}</span>
        <q-popup-edit ref="popup"
                      v-model="todo.name"
                      :validate="val => val.length > 0"
                      @save="editTodoName(todo, ...arguments)"
                      @before-show="handlePopup"
                      @hide="popup_show = false">
          <template v-slot="{ initialValue, value, emitValue, validate, set, cancel }">
            <q-input
              autofocus
              dense
              :value="todo.name"
              hint="Todo Name"
              :rules="[val => validate(value) || 'More than 0 chars required']"
              @input="emitValue">
              <template v-slot:after>
                <q-btn flat dense color="negative" icon="cancel" @click.stop="cancel"/>
                <q-btn flat dense color="positive" icon="check_circle" @click.stop="set"
                       :disable="validate(value) === false || initialValue === value"/>
              </template>
            </q-input>
          </template>
        </q-popup-edit>
      </span>
      <q-space></q-space>
    </q-card-section>

    <q-card-section v-if="$lget(todo, '_fastjoin.owners', []).length > 0" class="q-pa-none" style="text-align: right">
      <template>
        <q-chip v-for="(owner, index) in $lget(todo, '_fastjoin.owners', [])" :key="index" size="sm">
          <q-avatar v-if="$lget(owner, 'image')" size="sm">
            <img :src="$lget(owner, 'image', 'https://cdn.quasar.dev/img/boy-avatar.png')">
          </q-avatar>
          <q-avatar v-else size="sm" color="primary" text-color="white">
            {{ (owner.name || owner.email).charAt(0).toUpperCase() }}
          </q-avatar>
          {{ owner.name || owner.email }}
        </q-chip>
      </template>
    </q-card-section>

    <todo-form-dialog v-model="todo_dialog" :todo="edit_todo"
                      :board="board" @input="edit_todo = undefined"></todo-form-dialog>
  </q-card>
</template>

<script>
  import {mapActions} from 'vuex';
  import todoFormDialog from '../forms/todoFormDialog';
  import todoItemMixin from 'src/mixins/todoItemMixin';

  export default {
    name: 'todoCard',
    components: {
      todoFormDialog
    },
    mixins: [todoItemMixin()],
    props: {
      todo: {
        type: Object,
      },
      card: {
        type: Object,
      },
      board: {
        type: Object,
      },
    },
    data() {
      return {
        todo_dialog: false,
        edit_todo: undefined,
        popup_show: false,
      };
    },
    watch: {
      todo: {
        deep: true,
        immediate: true,
        handler(newVal, oldVal) {
          if (JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
            if (this.edit_todo) {
              this.edit_todo = newVal;
            }
          };
        }
      }
    },
    methods: {
      ...mapActions('todos', {
        patchTodo: 'patch',
      }),
      // eslint-disable-next-line no-unused-vars
      handlePopup() {
        if (!this.popup_show) this.$refs.popup.hide();
      },
      handlePopupShow() {
        this.popup_show = true;
        this.$refs.popup.show();
      },
      handleTodoEdit(todo) {
        if (!this.todo_dialog) {
          this.todo_dialog = true;
          this.edit_todo = todo;
        } else {
          this.todo_dialog = false;
          this.edit_todo = undefined;
        }
      },
      editTodoName(item, value, initialValue) {
        if (value !== initialValue) {
          this.patchTodo([item._id, {
            name: value,
          }])
            .then(res => {
              this.$q.notify({
                type: 'positive',
                message: `Successfully Saved "${res.name}"`,
                timeout: 10000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            })
            .catch(err => {
              this.$q.notify({
                type: 'negative',
                message: err.message,
                timeout: 30000,
                actions: [
                  {
                    icon: 'close', color: 'white', handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            });
        }
      }
    }
  };
</script>

<style scoped lang="scss">
  .todo-bg-yellow {
    border-top: 8px solid #ffe043;
  }

  .todo-bg-orange {
    border-top: 8px solid #f1a329;
  }

  .todo-bg-red {
    border-top: 8px solid #fc733c;
    /*border: 2px solid #fc733c;*/
  }

  .todo-bg-darkred {
    /*border: 2px solid #b70000;*/
    border-top: 8px solid #b70000;
  }

  .todo-bg-gray {
    border-top: 8px solid #BDBDBD;
  }

  .hover-copy {
    color: var(--q-color-primary);
    cursor: pointer;
  }

  .hover-copy:hover {
    color: var(--q-color-accent);
  }
</style>
