<template>
  <q-page>
    <cards-list></cards-list>
  </q-page>
</template>

<script>
  import cardsList from '../components/cards/list/list';

  export default {
    name: 'cards',
    components: {
      cardsList
    },
  };
</script>

<style scoped lang="scss">

</style>
