<template>
  <div class="dashboard-wrapper q-pt-sm">
    <!--    <div class="header">Dashboard</div>-->

    <div class="analytics-wrapper">
      <div class="display-item">
        <div>
          <animated-number
            :value="todos.total"
            :duration="600"
            :formatValue="formatToPrice"
          />
        </div>
        <div>Active Tickets</div>
      </div>
      <div class="display-item">
        <div>
          <animated-number
            :value="criticalPriority.total"
            :duration="600"
            :formatValue="formatToPrice"
          />
        </div>
        <div>Critical priority tickets</div>
      </div>
    </div>

<!--    <trend-->
<!--      :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"-->
<!--      gradientDirection="top"-->
<!--      :gradient="['#6fa8dc', '#42b983', '#2c3e50']"-->
<!--      :padding="10"-->
<!--      :radius="10"-->
<!--      :stroke-width=".5"-->
<!--      :auto-draw-duration="1000"-->
<!--      auto-draw-easing="ease-in-out"-->
<!--      auto-draw-->
<!--      smooth>-->
<!--    </trend>-->

      <div class="chart-wrapper">
        <AreaChart></AreaChart>
      </div>

    <div class="link-item-wrapper">
      <div @click="$router.push(report.to)" class="link-item" v-for="(report, idx) of links" :key="idx">
        <div :style="{backgroundColor: report.bgColor}" class="icon-wrapper">
          <q-icon size="xl" :name="report.icon"/>
        </div>
        <div class="label">{{ report.label }}</div>
        <div class="description">{{ report.description }}</div>
      </div>
    </div>
  </div>
</template>

<script>

  // import trend from 'vuetrend';
  import {mapGetters, mapActions} from 'vuex';
  import AnimatedNumber from 'animated-number-vue';
  import AreaChart from 'components/AreaChart';

  export default {
    name: 'reports',
    components: {
      AreaChart,
      // trend,
      AnimatedNumber
    },
    mounted() {
      setTimeout(() => {
        this.loadTodos();
      }, 200);
      console.log();
    },
    data() {
      return {
        links: [
          {
            icon: 'filter_frames',
            label: 'Boards',
            description: 'Edit / browse boards',
            bgColor: '#00B5A2',
            to: '/boards'
          },
          {
            icon: 'sticky_note_2',
            label: 'Reports',
            description: 'View reports',
            bgColor: '#00aaf1',
            to: '/reports'
          },
          {
            icon: 'compare_arrows',
            label: 'Test',
            description: 'Test test test test',
            bgColor: '#d37112',
            to: '/boards'
          },
        ]
      };
    },
    computed: {
      ...mapGetters('todos', {
        getTodos: 'find'
      }),
      todos() {
        return this.getTodos();
      },
      criticalPriority(){
        return this.getTodos({
          query: {
            priority: 'critical'
          }
        });
      }
    },
    methods: {
      ...mapActions('todos', {
        loadTodos: 'find'
      }),
      formatToPrice(value) {
        return `${value.toFixed(0)}`;
      }
    }
  };
</script>

<style scoped lang="scss">
  .dashboard-wrapper {
    .header {
      margin-left: 25px;
      font-size: 2em;
      margin-top: 20px;
    }

    .analytics-wrapper {
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 11px;

      .display-item {
        text-align: center;
        color: white;
        background-color: #059DFA;
        width: 49%;
        box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.3);

        div:first-child {
          font-size: 3em;
          margin-top: 7px;
        }

        div:last-child {
          margin-bottom: 10px;
        }
      }

      .display-item:last-child {
        background-color: rgb(171,14,34);
      }
    }

    .link-item-wrapper {
      padding: 0 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;

      .link-item {
        transition: 0.2s all ease-in;
        box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.15);
        text-align: center;
        width: 95%;
        margin: 10px 0;
        cursor: pointer;

        .icon-wrapper {
          color: white;
          margin: 30px auto 25px auto;
          border-radius: 100%;
          width: fit-content;
          padding: 15px;
        }

        .label {
          font-weight: 500;
          font-size: 1.4em;
        }

        .description {
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }

      .link-item:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 20px 8px rgba(0, 0, 0, 0.18);
      }
    }
  }
  .chart-wrapper {
    width: 100%;
    margin-bottom: -10px;
    overflow: scroll;
    padding: 20px;
    margin-top: -20px;

    #line-chart {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }
</style>
