<template>
  <q-page class="flex flex-center">
    <div>
      <p>fullName: {{ fullName }}</p>

      <p>
        message:
        <test v-model="greeting" :fn="concatWord">
<!--          <template v-slot:[slotName]="{new_message}">-->
<!--            {{ new_message }}-->
<!--          </template>-->
        </test>
      </p>

      <input v-model="message"/>
      <input v-model="first_name" @input="handleInput"/>
    </div>
    <div class="q-mx-lg">
      <h1>Composition Api</h1>
      <p>{{greeting}}</p>
      <input v-model="greeting"/>
      <p>{{setGreeting(greeting)}}</p>
    </div>
  </q-page>
</template>

<script>
  import {ref, /*reactive, toRefs, computed, watch*/} from '@vue/composition-api';

  import test from './test';

  export default {
    name: 'PageIndex',
    components: {
      test
    },
    // eslint-disable-next-line no-unused-vars
    setup(props, {root}) {
      let greeting = ref('Hi');

      function setGreeting(val) {
        val += ', whats up!';
        return val;
      }

      return {
        greeting,
        setGreeting,
      };
    },
    data() {
      return {
        slotName: 'input',
        message: 'hello world!',
        first_name: 'John',
        last_name: 'Miller'
      };
    },
    watch: {
      fullName(newVal, oldVal) {
        console.log('fullName:');
        console.log('oldVal', oldVal);
        console.log('newVal', newVal);
      },
      first_name: {
        deep: true,
        immediate: true,
        handler(newVal, oldVal) {
          console.log('first_name:');
          console.log('oldVal', oldVal);
          console.log('newVal', newVal);
        }
      }
    },
    computed: {
      fullName() {
        return `${this.first_name} ${this.last_name}`;
      }
    },
    methods: {
      concatWord(val) {
        return `${val} ${this.fullName}`;
      },
      handleInput(event) {
        this.first_name = event.target.value;
      }
    }
  };
</script>
