<template>
  <div class="reports-wrapper">
    <div class="text-weight-light">No reports yet</div>
  </div>
</template>

<script>
  export default {
    name: 'reports'
  };
</script>

<style scoped>
  .reports-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  div {
    margin-top: 40px;
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 2em;
  }
</style>
