<template>
  <div>
    {{message}}
  </div>
</template>

<script>
  export default {
    name: 'test1',
    props: {
      msg: {
        type: String
      }
    },
    computed: {
      message() {
        return this.msg;
      }
    }
  };
</script>

<style scoped>

</style>
