<template>
  <div>
    <test1 :msg="fn(message)"></test1>

    <slot name="input" :new_message="new_message">
      <input v-model="message"/>
    </slot>
    <slot name="after"></slot>
  </div>
</template>

<script>
  import test1 from './test1';

  export default {
    name: 'test',
    components: {
      test1
    },
    props: {
      value: {
        type: String
      },
      fn: {
        type: Function,
        default: (val) => {
          return val;
        }
      }
    },
    data() {
      return {
        // message: this.msg
        new_message: 'new message'
      };
    },
    computed: {
      message: {
        get() {
          return this.value;
        },
        set(val) {
          return this.$emit('input', val);
        }
      }
    }
  };
</script>

<style scoped>

</style>
