<template>
  <div id="addTodo" class="bg-white">
    <q-btn v-if="!show_add_todo"
           flat
           icon="add"
           class="full-width"
           @click.stop="show_add_todo = true"
           @touchstart.stop="show_add_todo = true">
      New Todo
    </q-btn>
    <q-card v-else style="width: 100%; margin: 5px 2px 5px 2px;">
      <q-card-section class="flex" style="align-items: center;">
        <q-input v-model="name" @touchstart.stop="focusTodoInput" ref="new-todo-input" type="textarea" filled autogrow autofocus style="width: 100%;"></q-input>

        <q-btn color="primary" @click.stop="createTodo" @touchstart.stop="createTodo" :disable="!name || !name.length">Save</q-btn>
        <q-btn flat round icon="close" @click.stop="show_add_todo = false" @touchstart.stop="show_add_todo = false"></q-btn>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
  import {models} from 'feathers-vuex';

  export default {
    name: 'addTodo',
    props: {
      card: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        show_add_todo: false,
        name: undefined,
      };
    },
    methods: {
      focusTodoInput() {
        let el = this.$refs['new-todo-input'];
        el.focus();
      },
      createTodo() {
        let new_todo = new models.api.Todos({name: this.name, card: this.card._id, order: this.card._fastjoin.todos.length});
        new_todo.create()
          .then(result => {
            this.show_add_todo = false;
            this.name = undefined;

            this.$q.notify({
              type: 'positive',
              message: `Successfully Created "${result.name}"`,
              timeout: 10000,
              actions: [
                {
                  icon: 'close', color: 'white', handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          })
          .catch(error => {
            this.$q.notify({
              type: 'negative',
              message: error.message,
              timeout: 10000,
              actions: [
                {
                  icon: 'close', color: 'white', handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          });
      }
    }
  };
</script>

<style scoped lang="scss">

</style>
