<template>
  <q-layout view="hHh Lpr fff">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat
               dense
               round
               icon="menu"
               aria-label="Menu"
               @click="leftDrawerOpen = !leftDrawerOpen"/>

        <q-toolbar-title>
          <q-btn flat :to="{name: 'boards'}">Quasar App</q-btn>
        </q-toolbar-title>

        <q-btn flat :to="{name: 'logout'}">Logout</q-btn>
        <div>Quasar v{{ $q.version }}</div>

        <q-btn flat round icon="menu" @click="toggle_nav = !toggle_nav"></q-btn>
      </q-toolbar>
    </q-header>

    <tab-navbar v-model="toggle_nav" icon_colors="var(--q-color-primary)" icon_colors_hover="var(--q-color-primary)"></tab-navbar>

    <q-drawer v-model="leftDrawerOpen"
              show-if-above
              bordered
              content-class="bg-grey-1">
      <q-list>
        <q-item-label header class="text-grey-8">
          Essential Links
        </q-item-label>
        <EssentialLink v-for="link in essentialLinks"
                       :key="link.title"
                       v-bind="link"/>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import EssentialLink from 'components/EssentialLink.vue';
  import TabNavbar from 'components/tabNavbar/tabNavbar';

  export default {
    name: 'MainLayout',

    components: {
      EssentialLink,
      TabNavbar,
    },

    data() {
      return {
        toggle_nav: true,
        leftDrawerOpen: false,
        essentialLinks: [
          {
            title: 'Dashboard',
            icon: 'dashboard',
            link: '/dashboard'
          },
          {
            title: 'Boards',
            caption: '',
            icon: 'list',
            link: '/boards'
          },
          // {
          //   title: 'Reports',
          //   caption: '',
          //   icon: 'flag',
          //   link: '/reports'
          // }
        ]
      };
    }
  };
</script>
