<template>
  <q-layout view="hHh Lpr fff">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-btn flat to="/">Quasar App</q-btn>
        </q-toolbar-title>

        <q-btn flat @click="$router.push({name: 'dashboard'})">boards</q-btn>
        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  export default {
    name: 'SimpleLayout',
    data() {
      return {};
    }
  };
</script>
