<template>
  <div id="ColorPicker" v-bind="$attrs['div-attrs']">
    <q-color :value="color"
             @input="emitColor($event)"
             v-bind="$attrs['attrs']"
             v-on="listeners" />
  </div>
</template>

<script>
  const tinycolor = require('tinycolor2');

  export default {
    name: 'ColorPicker',
    inheritAttrs: false,
    props: {
      value: {
        type: [String, Object],
        default: '#008080ff'
      },
      path: {
        required: true
      },
      slots: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {
        color: '#008080ff',
      };
    },
    watch: {
      $attrs: {
        immediate: true,
        deep: true,
        handler(newVal) {
          // attrs defaults
          // this.$lset(newVal, 'attrs.no-header', this.$lget(newVal, 'attrs.no-header', true));
          this.$lset(newVal, 'attrs.no-footer', this.$lget(newVal, 'attrs.no-footer', true));
          this.$lset(newVal, 'attrs.default-view', this.$lget(newVal, 'attrs.default-view', 'palette'));
          this.$lset(newVal, 'attrs.style', this.$lget(newVal, 'attrs.style', 'margin: auto; max-width: 300px'));

          // div-attrs defaults
          this.$lset(newVal, 'div-attrs.class', this.$lget(newVal, 'div-attrs.class', 'col-12'));
        }
      },
      value: {
        deep: true,
        immediate: true,
        handler(newVal, oldVal) {
          if (JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
            let color = newVal;
            if (typeof newVal !== 'object') {
              color = this.convertColor(newVal);
            }
            this.color = this.$lget(color, 'hexa', '#008080ff');
          }
        }
      }
    },
    computed: {
      listeners() {
        // eslint-disable-next-line no-unused-vars
        const {input, ...listeners} = this.$listeners;
        return listeners;
      },
    },
    methods: {
      convertColor(color) {
        let colorVar = tinycolor(color);

        let alpha = colorVar.getAlpha();
        if (!alpha) {
          colorVar.setAlpha(1);
          alpha = colorVar.getAlpha();
        }

        let hex = colorVar.toHexString();
        let hexa = colorVar.toHex8String();

        let hsla = colorVar.toHsl();

        let hsva = colorVar.toHsv();

        let rgba = colorVar.toRgb();

        return {
          alpha: alpha,
          hue: hsla.h,
          hex: hex,
          hexa: hexa,
          hsla: hsla,
          hsva: hsva,
          rgba: rgba
        };
      },
      emitColor(color) {
        let payload = this.convertColor(color);
        this.$emit('input', payload);
      }
    }
  };
</script>

<style scoped lang="scss" src="./_ColorPicker.scss">
</style>
