<template>
  <div id="NumberInput" v-bind="$attrs['div-attrs']">
    <vue-number-input :name="path" :value="value" @change="$emit('input', $event)" v-bind="$attrs['attrs']" v-on="listeners">
      <template v-for="slot in slots" v-slot:[slot]="slotProps">
        <slot :name="slot" :key_name="path" v-bind="slotProps"></slot>
      </template>
    </vue-number-input>
  </div>
</template>

<script>
  export default {
    name: 'NumberInput',
    inheritAttrs: false,
    props: {
      value: {
        type: [String, Number]
      },
      path: {
        required: true
      },
      slots: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {};
    },
    watch: {
      $attrs: {
        immediate: true,
        deep: true,
        handler(newVal) {
          // attrs defaults
          this.$lset(newVal, 'attrs.controls', this.$lget(newVal, 'attrs.controls', true));

          // div-attrs defaults
          this.$lset(newVal, 'div-attrs.class', this.$lget(newVal, 'div-attrs.class', 'col-12 col-sm-6'));
        }
      },
    },
    computed: {
      listeners() {
        // eslint-disable-next-line no-unused-vars
        const {input, change, ...listeners} = this.$listeners;
        return listeners;
      },
    },
  };
</script>

<style scoped lang="scss" src="./_NumberInput.scss">
</style>
