<template>
  <div id="vueDnD" class="card-scene">
    <Container orientation="horizontal"
               @drop="onColumnDrop($event)"
               drag-handle-selector=".column-drag-handle"
               @drag-start="dragStart"
               :drop-placeholder="upperDropPlaceholderOptions">
      <Draggable v-for="column in scene.children" :key="column.id">
        <div class="card-container">
          <div class="card-column-header">
            <span class="column-drag-handle">&#x2630;</span>
            {{ column.name }}
          </div>
          <Container group-name="col"
                     @drop="(e) => onCardDrop(column.id, e)"
                     @drag-start="(e) => log('drag start', e)"
                     @drag-end="(e) => log('drag end', e)"
                     :get-child-payload="getCardPayload(column.id)"
                     drag-class="card-ghost"
                     drop-class="card-ghost-drop"
                     :drop-placeholder="dropPlaceholderOptions">
            <Draggable v-for="card in column.children" :key="card.id">
              <div class="card" :style="card.props.style">
                <p>{{ card.data }}</p>
              </div>
            </Draggable>
          </Container>
        </div>
      </Draggable>
    </Container>
  </div>
</template>

<script>
  // https://github.com/kutlugsahin/vue-smooth-dnd
  import {Container, Draggable} from 'vue-smooth-dnd';
  import {/*applyDrag, */generateItems} from './helpers';

  const lorem = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.';
  const columnNames = ['Lorem', 'Ipsum', 'Consectetur', 'Eiusmod'];
  const cardColors = [
    'azure',
    'beige',
    'bisque',
    'blanchedalmond',
    'burlywood',
    'cornsilk',
    'gainsboro',
    'ghostwhite',
    'ivory',
    'khaki'
  ];
  const pickColor = () => {
    const rand = Math.floor(Math.random() * 10);
    return cardColors[rand];
  };
  const scene = {
    type: 'container',
    props: {
      orientation: 'horizontal'
    },
    children: generateItems(4, i => ({
      id: `column${i}`,
      type: 'container',
      name: columnNames[i],
      // props: {
      //   orientation: 'vertical',
      //   className: 'card-container'
      // },
      children: generateItems(+(Math.random() * 10).toFixed() + 5, j => ({
        type: 'draggable',
        id: `${i}${j}`,
        props: {
          // className: 'card',
          style: {backgroundColor: pickColor()}
        },
        data: lorem.slice(0, Math.floor(Math.random() * 150) + 30)
      }))
    }))
  };
  export default {
    name: 'vueDnD',
    components: {
      Container,
      Draggable
    },
    data() {
      return {
        scene,
        upperDropPlaceholderOptions: {
          className: 'cards-drop-preview',
          animationDuration: '150',
          showOnTop: true
        },
        dropPlaceholderOptions: {
          className: 'drop-preview',
          animationDuration: '150',
          showOnTop: true
        }
      };
    },
    methods: {
      onColumnDrop(dropResult) {
        const scene = Object.assign({}, this.scene);
        scene.children = this.applyDrag(scene.children, dropResult);
        this.scene = scene;
      },
      onCardDrop(columnId, dropResult) {
        if (dropResult.removedIndex !== null || dropResult.addedIndex !== null) {
          const scene = Object.assign({}, this.scene);
          const column = scene.children.filter(p => p.id === columnId)[0];
          const columnIndex = scene.children.indexOf(column);
          const newColumn = Object.assign({}, column);
          newColumn.children = this.applyDrag(newColumn.children, dropResult);
          scene.children.splice(columnIndex, 1, newColumn);
          this.scene = scene;
        }
      },
      getCardPayload(columnId) {
        return index => {
          return this.scene.children.filter(p => p.id === columnId)[0].children[index];
        };
      },
      dragStart() {
        console.log('drag started');
      },
      log(...params) {
        console.log(...params);
      },
      applyDrag(arr, dragResult) {
        const { removedIndex, addedIndex, payload } = dragResult;
        if (removedIndex === null && addedIndex === null) return arr;

        const result = [...arr];
        let itemToAdd = payload;

        if (removedIndex !== null) {
          itemToAdd = result.splice(removedIndex, 1)[0];
        }

        if (addedIndex !== null) {
          result.splice(addedIndex, 0, itemToAdd);
        }

        return result;
      }
    }
  };
</script>

<style lang="scss" src="./_vueDnD.scss">

</style>
